.about {
  margin: 400px 0 250px;

  .img1 {
    background-size: contain;
    display: flex;
    border-radius: 20px;
  }
  .h2-wrap {
    mix-blend-mode: exclusion;
    margin: -220px 0 200px;
  }
}
