.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: whitesmoke;
  .first-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgb(243, 243, 243);
    width: 95%;
    height: 90vh;

    h1 {
      font-size: 50px;
    }
    p {
      font-size: 35px;
    }
  }
}
