.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: whitesmoke;

  .info-container {
    background: green;
    width: 95%;

    .first-block {
      background: red;
      text-align: center;
      h1 {
        font-size: 38px;
      }
      .first-paragraphe {
        font-size: 27px;
      }
    }
    .first-inner-block {
      background: blue;
    }
    .formation-card {
      background: yellow;
      text-align: center;
    }
  }
}
