.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: green;
  .first-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    width: 50%;
    height: 90vh;
  }
  .second-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 50%;
    background: blue;
  }
}
