footer {
    margin: 150px à 120px;
  
    p {
      font-size: calc(1rem + 2vw);
      margin: 25px 0;
      text-align: center;
    }
    a {
      font-weight: bold;
      color: black;
      font-size: calc(1rem + 2vw);
    }
  }